<body id="page-top" style="background-color: cornsilk;">
    {{> header}}

    {{> nabvar}}
<link rel="stylesheet" href="assets/css/estilos.css">
<div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        EDU
                        <span class="text-primary">SMART</span>
                    </h1>
                    <p class="lead mb-5"> EDU SMART es una aplicación que aporta una forma didáctica enfocada a niños en el aprendizaje de tópicos de Lenguaje, ya que para la edad estimada de los usuarios es uno de los aspectos más importantes en su aprendizaje y crecimiento.</p>
                     <section id="awards2">            
                        <img   src="assets/img/app3.PNG" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Captura1.PNG" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Captura2.PNG" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Captura3.PNG" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Captura4.PNG" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Captura5.PNG" alt="..." /></center> <br> <br> 
                        <img   src="assets/img/Captura6.PNG" alt="..." /></center> <br> <br> 
                    </section> 
                </div>
            </section>
            <hr class="m-0" />
            <!--mision y vision-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                       MISIÓN
                    </h1>
                    <p class="lead mb-5"> Ofrecer una app innovadora para los niños en la cual pueda desarrollar todos sus conocimientos y pueda aumentar su nivel de aprendizaje</p>
                    <center><img style="width:20%" src="assets/img/Mision.png" alt="..." /></center> 
                </div>
                <div class="resume-section-content">
                    <h1 class="mb-0">
                       VISIÓN
                    </h1>
                    <p class="lead mb-5"> Lograr ser una empresa lider en desarrolo de aplicaciones principalmente teniendo un enfoque para los niños, brindandole asi al usuario la mejor experiencia </p>
                    <center><img style="width:30%" src="assets/img/vision.png" alt="..." /></center>
                </div>
            </section>
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                       EDU SMART
                        <span class="text-primary">APK</span>
                    </h1>
                    <p class="lead mb-5"> <center><h3>La mejor aplicación de aprendizaje para los niños</h3></center></p>
                    <center><button onclick="document.location.href='assets/img/app-EduSmart.apk'" style="border-radius:999px;border:none;background:#9cc9e7;align-items: center;box-shadow: 0px 11px 21px 0px rgba(70, 52, 238, 0.329);color: rgb(0, 0, 0);display: flex;flex-direction: column;font-size: 20px;font-weight: 600;height: 50px;justify-content: center;max-width: 280px;" type="button" class="btn btn-danger">DESCARGAR EDU SMART</button></center><br><br>
                    <center><img style="width:40%" src="assets/img/app4.PNG" alt="..." /></center>
                </div>
            </section>
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                    INSTALAR
                        <span class="text-primary">EDU SMART</span>
                    </h1>
                    <p class="lead mb-5"> Una vez que haya descargado el archivo APK, ejecútelo y complete la instalación de la aplicación EDU SMART siguiendo los pasos a continuación:</p>
                    <p><b> Paso 1. Encuentra el APK descargado </b><br>
                            1. Haga clic en la ventana emergente que aparece en su navegador cuando finaliza la descarga <br>
                            2. Encuéntralo en las "descargas" de tu navegador <br>
                            3. Encuéntralo en la barra de notificaciones de tu teléfono</p>
                            <center><img style="width:30%" src="assets/img/paso1.jpg" alt="..." /></center> <br><br>
                    <p><b> Paso 2. Si aparece la siguiente ventana emergente en su navegador, haga clic en "Aceptar". EDU SMART es seguro para tu móvil. </b></p>
                    <center><img style="width:30%" src="assets/img/paso2.jpg" alt="..." /></center> <br> <br>
                    <p><b> Paso 3. Durante el proceso de instalación de la aplicación EDU SMART, es posible que tengas que ir a la "Configuración" de tu dispositivo y activar "Fuentes desconocidas". </b></p>
                    <center><img style="width:30%" src="assets/img/paso3.PNG" alt="..." /></center> <br> <br>
                    <p><b> Listo espera que se termine la instalación y podras disfrutar de la App EDU SMART. </b></p>
                    
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            
            <section class="resume-section">
                <div class="resume-section-content">
                    <h3 class="mb-5">Contactos</h3>   
                    <section id="awards">            
                        <img   src="assets/img/Amarilis.jpg" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Edwin.jpg" alt="..." /></center> <br> <br>
                        <img   src="assets/img/jefry.jpg" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Kevin.jpg" alt="..." /></center> <br> <br>
                        <img   src="assets/img/Aliss.jpg" alt="..." /></center> <br> <br>
                        <img   src="assets/img/yunga.jpg" alt="..." /></center> <br> <br> 
                    </section>  
                    <br>
                    <br>
                    <br>
                    <div id="columna1">
                        <div class="navbar-brand js-scroll-trigger">
                                <h3>AMARILIS CUEVA</h3>
                                <h4>Teléfono: 0939236379</h4>
                                <h4>Email: rcuevac1@est.ups.edu.ec</h4>
                                <br>
                                <div class="social-icons">
                                    <a class="social-icon" href="https://api.whatsapp.com/send?phone=593939236379"><i class="fab fa-whatsapp"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-github"></i></a>
                                </div>
                        </div>
                        <div class="navbar-brand js-scroll-trigger">
                                <h3>EDWIN HERNÁNDEZ</h3>
                                <h4>Teléfono: 0996434838</h4>
                                <h4>Email: ehernandezm@est.ups.edu.ec</h4>
                                <br>
                                <div class="social-icons">
                                    <a class="social-icon" href="https://api.whatsapp.com/send?phone=593996434838"><i class="fab fa-whatsapp"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-github"></i></a>
                                </div>
                        </div>
                        <div class="navbar-brand js-scroll-trigger">
                                <h3>JEFRY NAVAS</h3>
                                <h4>Teléfono: 0999262543</h4>
                                <h4>Email: jnavass@est.ups.edu.ec</h4>
                                <br>
                                <div class="social-icons">
                                    <a class="social-icon" href="https://api.whatsapp.com/send?phone=593999262543"><i class="fab fa-whatsapp"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-github"></i></a>
                                </div>
                        </div>
                        <div class="navbar-brand js-scroll-trigger">
                                <h3>KEVIN PLAZARTE</h3>
                                <h4>Teléfono: 0987746167</h4>
                                <h4>Email: kplazarte@est.ups.edu.ec</h4>
                                <br>
                                <div class="social-icons">
                                    <a class="social-icon" href="https://api.whatsapp.com/send?phone=593987746167"><i class="fab fa-whatsapp"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-github"></i></a>
                                </div>
                        </div>
                        <div class="navbar-brand js-scroll-trigger">
                                <h3>ALISSON VIZCAÍNO</h3>
                                <h4>Teléfono: 0983937690</h4>
                                <h4>Email: avizcainoo@est.ups.edu.ec</h4>
                                <br>
                                <div class="social-icons">
                                    <a class="social-icon" href="https://api.whatsapp.com/send?phone=593983937690"><i class="fab fa-whatsapp"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-icon" href=""><i class="fab fa-github"></i></a>
                                </div>
                        </div>
                        <div class="navbar-brand js-scroll-trigger">
                                <div>
                                    <h3>JOEL YUNGA</h3>
                                    <h4>Teléfono: 0984159097</h4>
                                    <h4>Email: jyungap1@est.ups.edu.ec</h4>
                                    <br>
                                    <div class="social-icons">
                                        <a class="social-icon" href="https://api.whatsapp.com/send?phone=593984159097"><i class="fab fa-whatsapp"></i></a>
                                        <a class="social-icon" href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a class="social-icon" href=""><i class="fab fa-github"></i></a>
                                    </div>
                                </div>    
                        </div>
                    </div>
                </div>
            </section>
        </div>

</body>

</html>